/*YuehMingTeng.css*/
.head {
	   font-family: 'Abril Fatface', cursive;
       background-color:#808080 ;
}

.head h1,h3{
         color:yellow ;
}
.navi {

       background-color: #808080;
       overflow: hidden;
}

.navi a {
         float: right;
         color: FFFFFF;		  
         font-family: 'Abril Fatface', cursive;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 20px;
}

.card {
		background-color: #808080;
		color:yellow;
}
.btn {
		font-family: 'Abril Fatface', cursive;
       background-color:#808080 ;
	   color:yellow;
	   border:none;
}
.btn-info:hover {
	           background-color:white;
               color:red;
}

.navi a:hover {
	           background-color:white;
               color:red;
}

.foot {
	   font-family: 'Abril Fatface', cursive;
       background-color:265A6C ;
	   
}

.foot p {
	   color:yellow ;
}

.foot li {
	   color:yellow ;
}

.foot a {
	   color:yellow ;
}

.foot a:hover {
               background-color:white;
               color:red;
			   
}


